{% load static %}
<doctype !HTML>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='icon' href='img/favicon.ico'>
    <title>Lakki</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="index.css">
</head>
<body>

    <div style="display:table;position:absolute;height:90%;width:100%;">
        <div style="display:table-cell;vertical-align: middle;">
    <div class="container" style="">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-lg-offset-2 col-lg-8">
                <div align="center">
                    <img sytle="width=30px" src="{% static "weather/js/Lakki-logo.png" %}" alt="LAKKI">
                </div>
                <form id='form-submit'>
                    <div class="form-group">
                        <br>
                        <textarea id="taskInput" class="form-control" rows="2" placeholder="How can I help you?" required=""></textarea>

                        <br><button id='record'>Record</button>
                        <button id="stop">Stop</button>
                        <button type="submit" class ="pull-right">Send</button>
                    </div>
                </form>
            </div>
            <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8 col-lg-offset-2 col-lg-8" id="returned">

            </div>
        </div>
    </div>
</div>
</div>
<!--    
    <div id="clips">
    </div>
    <div style="padding-left:25px" align="center">
        <img style="width:300px;height=auto;" src="{% static "weather/js/google_example.png" %}" alt="Google Search example">
    
        <img style="width:300px;height=auto;" src="{% static "weather/js/joke_example.png" %}" alt="Google Search example">
   
        <img style="width:300px;height=auto;" src="{% static "weather/js/time_example.png" %}" alt="Google Search example">
   
        <img style="width:300px;height=auto;" src="{% static "weather/js/google_example.png" %}" alt="Google Search example">
    </div>
-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="//www.WebRTC-Experiment.com/RecordRTC.js"></script>
    <script src="{% static "weather/js/client.js" %}"></script>
    <script src="{% static "weather/js/audiohandler.js" %}"></script>
</body>
<html>
